In [2]:
path_youtube_laptop = "Datas/darshil-youtube-scraping/data_laptop.csv" #Path to the data for Youtube laptop specific videos
path_youtube_mobile = "Datas/darshil-youtube-scraping/data_mobile.csv" #Path to the data for Youtube mobile specific videos
path_youtube_tv = "Datas/darshil-youtube-scraping/data_tv.csv" #Path to the data for Youtube tv specific videos
path_youtube_watch = "Datas/darshil-youtube-scraping/data_watch.csv" #Path to the data for Youtube watch specific videos

In [3]:
path_podcast_patreon = "Datas/jenny-podcasts/jmnieman-prototype/patreon.xls" #Path to the data for Podcasts from patreon
path_podcast_stitcher = "Datas/jenny-podcasts/jmnieman-prototype/stitcher.xls" #Path to the data for Podcasts from stitcher

In [4]:
path_twitter_laptop = "Datas/kavya-twitter/CleanDataAndSourceCode/laptop_scraped_tweets.csv" #Path to the data for Twitter for laptop
path_twitter_mobile = "Datas/kavya-twitter/CleanDataAndSourceCode/mobile_scraped_tweets.csv" #Path to the data for Twitter for mobile
path_twitter_tv = "Datas/kavya-twitter/CleanDataAndSourceCode/tv_scraped_tweets.csv" #Path to the data for Twitter for tv
path_twitter_watch = "Datas/kavya-twitter/CleanDataAndSourceCode/smartwatch_scraped_tweets.csv" #Path to the data for Twitter for watch

In [5]:
import pandas as pd

In [6]:
youtubeLaptopDataframe = pd.read_csv(path_youtube_laptop) #reading the youtube laptop data into a pandas dataframe
youtubeMobileDataframe = pd.read_csv(path_youtube_mobile) #reading the youtube mobile data into a pandas dataframe
youtubeTvDataframe = pd.read_csv(path_youtube_tv)         #reading the youtube tv data into a pandas dataframe
youtubeWatchDataframe = pd.read_csv(path_youtube_watch)   #reading the youtube watch data into a pandas dataframe

In [7]:
youtubeLaptopDataframe.head()

,TITLE,CHANNEL,VIEWS,AGE,DESCRIPTION
0,The Best LAPTOPS of 2020!,Hardware Canucks,308K views,3 months ago,There have been a lot of laptops released this...
1,Best & Worst Laptops of 2020 !!,Just Josh,228K views,2 months ago,In 2020 there were some ground breaking laptop...
2,The Best Windows Laptop. Period. - Dell XPS 15...,Linus Tech Tips,2.2M views,7 months ago,At first glance the Dell XPS 15 and 17 could b...
3,The Best Laptops for 2020,PCMag,562K views,9 months ago,Shopping for a notebook is more than just pori...
4,10 Tips for Buying a Laptop! (2020) | The Tech...,The Tech Chap,1.8M views,1 year ago,Notice: [Paid Links] As an Amazon Associate I ...

In [8]:
def convertViewsToFloat(dataFrame):
    floatView = []
    index = 0
    for row in dataFrame['VIEWS']:
        stringValue = row[:-6] #stripping the word views from the column
        #print(stringValue)
        if stringValue.find('K') != -1: #checking if the string contains 'K' and converting it by multiplying with 10000
            #print(stringValue[:-1])
            pass
            numericValue = float(stringValue[:-1]) * 1000
            #print(round(numericValue,2))
            floatView.append(numericValue)
            dataFrame['VIEWS'][index] = numericValue
        elif stringValue.find('M') != -1: #checking if the string contains 'M' and converting it by multiplying with 1000000
            #print(stringValue[:-1])
            numericValue = float(stringValue[:-1]) * 1000000
            floatView.append(numericValue)
            #print(round(numericValue,2))
            dataFrame['VIEWS'][index] = numericValue
        elif stringValue.find('No') != -1 or stringValue.find('') != -1: #checking if the viewer had No Views then just put 0
            numericValue = 0
            dataFrame['VIEWS'][index] = numericValue
        else:
            numericValue = float(stringValue)
            dataFrame['VIEWS'][index] = numericValue            
        index += 1 #increase the index

In [9]:
convertViewsToFloat(youtubeLaptopDataframe)
convertViewsToFloat(youtubeMobileDataframe)
convertViewsToFloat(youtubeTvDataframe)
convertViewsToFloat(youtubeWatchDataframe)

In [10]:
youtubeWatchDataframe['VIEWS'].describe()

count     314.0
unique    234.0
top         0.0
freq        8.0
Name: VIEWS, dtype: float64

In [11]:
youtubeLaptopDataframe['VIEWS'].max()

4500000.0

In [12]:
podcastStitcherDataframe = pd.read_excel(path_podcast_stitcher)
podcastPatreonDataframe = pd.read_excel(path_podcast_patreon)

In [13]:
podcastPatreonDataframe[podcastPatreonDataframe['PODCAST DESCRIPTION'].str.contains('Technology' or 'Tech')]

,PODCAST TITLE,PODCAST DESCRIPTION,PODCAST SUBS,MONTHLY REV
7,Angus Deveson,"Because I'm awesome. No, actually to support n...",721,-
52,Angus Deveson,"Because I'm awesome. No, actually to support n...",717,-

In [14]:
podcastPatreonDataframe[podcastPatreonDataframe['PODCAST TITLE'].str.contains('Technology' or 'Tech')]

,PODCAST TITLE,PODCAST DESCRIPTION,PODCAST SUBS,MONTHLY REV
36,Technology Connections,"Greetings, and thank you for stopping by my Pa...","5,786","$14,947"
38,Primitive Technology,I make videos about making things entirely fro...,"2,255","$4,343"

In [15]:
podcastStitcherDataframe.head()

            PODCAST TITLE                                PODCAST DESCRIPTION
0            Talking Tech  Your daily consumer tech news update, plus the...
1                    Tech  The world of technology \nCover art photo prov...
2                    Tech  The world of technology \nCover art photo prov...
3        Marketplace Tech  Hosted by Molly Wood, “Marketplace Tech” demys...
4  WSJ Tech News Briefing  Get the latest in technology news for your wee...

In [16]:
twitterLaptopDataframe = pd.read_csv(path_twitter_laptop)
twitterMobileDataframe = pd.read_csv(path_twitter_mobile)
twitterTVDataframe = pd.read_csv(path_twitter_tv)
twitterWatchDataframe = pd.read_csv(path_twitter_watch)

In [17]:
twitterLaptopDataframe.head()

,Unnamed: 0,Username,Description,Location,Followers,Following,TotalTweets,RetweetCount,DateTime,FullTweetText,Hashtags
0,0,PCPlanetNigeria,https://t.co/5gzFLCOIZq is Nigeria’s leading o...,"Lagos, NG",671,429,2713,0,07-12-12 10:18,Cheers to women and their relentless efforts!\...,"['pcplanetnigeria', 'phone', 'laptop', 'lenovo..."
1,1,ismasaleem,I am designer & Amazon Influencer\n@ismasaleem...,NaN,1910,1642,11159,1,07-07-17 7:00,RT @ismasaleemshop: Deal Alert\nUp to 32% off ...,"['Amazon', 'ad', 'Razer']"
2,2,ismasaleem,I am designer & Amazon Influencer\n@ismasaleem...,NaN,1910,1642,11159,1,07-07-17 7:00,RT @ismasaleemshop: Deal Alert\nGys there is \...,"['Amazon', 'ad', 'Deals', 'deal', 'amazondeals']"
3,3,ismasaleemshop,I am Amazon Associate| Amazon Influencer. Also...,NaN,193,273,1112,1,01-07-19 10:14,Deal Alert\nGys there is \nUp to 32% off on Ra...,"['Amazon', 'ad', 'Deals', 'deal', 'amazondeals..."
4,4,ismasaleemshop,I am Amazon Associate| Amazon Influencer. Also...,NaN,193,273,1112,1,01-07-19 10:14,Deal Alert\nUp to 32% off Razer Gaming Laptops...,"['Amazon', 'ad', 'Razer', 'gaming', 'gaminglap..."

In [18]:
def findTwitterInfluencer(term):
    indexList = []
    indexList = twitterLaptopDataframe['FullTweetText'].str.contains('Technology' or 'Tech')
    twitterLaptopDataframe[indexList]

In [21]:
twitterResultDataframe = twitterLaptopDataframe[twitterLaptopDataframe['FullTweetText'].str.contains('Laptop' or 'Technology')]

In [27]:
twitterResultDataframe[twitterResultDataframe.Followers == twitterResultDataframe.Followers.max()]

,Unnamed: 0,Username,Description,Location,Followers,Following,TotalTweets,RetweetCount,DateTime,FullTweetText,Hashtags
13,13,AustraliaMSI,"MSI is a world leader in gaming, content creat...",Australia,42541,181,3486,1,10-11-15 4:27,#Cyberpunk2077 Gaming Mode is available now on...,"['Cyberpunk2077', 'MSI', 'GS66', 'Laptop']"