In [254]:
path_youtube_laptop = "Datas/darshil-youtube-scraping/data_laptop.csv" #Path to the data for Youtube laptop specific videos
path_youtube_mobile = "Datas/darshil-youtube-scraping/data_mobile.csv" #Path to the data for Youtube mobile specific videos
path_youtube_tv = "Datas/darshil-youtube-scraping/data_tv.csv" #Path to the data for Youtube tv specific videos
path_youtube_watch = "Datas/darshil-youtube-scraping/data_watch.csv" #Path to the data for Youtube watch specific videos

In [278]:
path_podcast_patreon = "Datas/jenny-podcasts/jmnieman-prototype/patreon.xls" #Path to the data for Podcasts from patreon
path_podcast_stitcher = "Datas/jenny-podcasts/jmnieman-prototype/stitcher.xls" #Path to the data for Podcasts from stitcher

In [256]:
path_twitter_laptop = "Datas/kavya-twitter/CleanDataAndSourceCode/laptop_scraped_tweets.csv" #Path to the data for Twitter for laptop
path_twitter_mobile = "Datas/kavya-twitter/CleanDataAndSourceCode/mobile_scraped_tweets.csv" #Path to the data for Twitter for mobile
path_twitter_tv = "Datas/kavya-twitter/CleanDataAndSourceCode/tv_scraped_tweets.csv" #Path to the data for Twitter for tv
path_twitter_watch = "Datas/kavya-twitter/CleanDataAndSourceCode/smartwatch_scraped_tweets.csv" #Path to the data for Twitter for watch

In [257]:
import pandas as pd

In [258]:
youtubeLaptopDataframe = pd.read_csv(path_youtube_laptop) #reading the youtube laptop data into a pandas dataframe
youtubeMobileDataframe = pd.read_csv(path_youtube_mobile) #reading the youtube mobile data into a pandas dataframe
youtubeTvDataframe = pd.read_csv(path_youtube_tv)         #reading the youtube tv data into a pandas dataframe
youtubeWatchDataframe = pd.read_csv(path_youtube_watch)   #reading the youtube watch data into a pandas dataframe

In [259]:
youtubeLaptopDataframe.head()

,TITLE,CHANNEL,VIEWS,AGE,DESCRIPTION
0,The Best LAPTOPS of 2020!,Hardware Canucks,308K views,3 months ago,There have been a lot of laptops released this...
1,Best & Worst Laptops of 2020 !!,Just Josh,228K views,2 months ago,In 2020 there were some ground breaking laptop...
2,The Best Windows Laptop. Period. - Dell XPS 15...,Linus Tech Tips,2.2M views,7 months ago,At first glance the Dell XPS 15 and 17 could b...
3,The Best Laptops for 2020,PCMag,562K views,9 months ago,Shopping for a notebook is more than just pori...
4,10 Tips for Buying a Laptop! (2020) | The Tech...,The Tech Chap,1.8M views,1 year ago,Notice: [Paid Links] As an Amazon Associate I ...

In [260]:
def convertViewsToFloat(dataFrame):
    floatView = []
    index = 0
    for row in dataFrame['VIEWS']:
        stringValue = row[:-6] #stripping the word views from the column
        #print(stringValue)
        if stringValue.find('K') != -1: #checking if the string contains 'K' and converting it by multiplying with 10000
            #print(stringValue[:-1])
            pass
            numericValue = float(stringValue[:-1]) * 1000
            #print(round(numericValue,2))
            floatView.append(numericValue)
            dataFrame['VIEWS'][index] = numericValue
        elif stringValue.find('M') != -1: #checking if the string contains 'M' and converting it by multiplying with 1000000
            #print(stringValue[:-1])
            numericValue = float(stringValue[:-1]) * 1000000
            floatView.append(numericValue)
            #print(round(numericValue,2))
            dataFrame['VIEWS'][index] = numericValue
        elif stringValue.find('No') != -1 | stringValue.find('') != -1: #checking if the viewer had No Views then just put 0
            numericValue = 0
            dataFrame['VIEWS'][index] = numericValue
        else:
            numericValue = float(stringValue)
            dataFrame['VIEWS'][index] = numericValue            
        index += 1 #increase the index

In [264]:
#convertViewsToFloat(youtubeLaptopDataframe)
#convertViewsToFloat(youtubeMobileDataframe)
#convertViewsToFloat(youtubeTvDataframe)
convertViewsToFloat(youtubeWatchDataframe)

In [269]:
youtubeWatchDataframe['VIEWS'].describe()

count         314.0
unique        241.0
top       1400000.0
freq            4.0
Name: VIEWS, dtype: float64

In [152]:
youtubeLaptopDataframe['VIEWS'].max()

4500000.0

In [279]:
podcastStitcherDataframe = pd.read_excel(path_podcast_stitcher)
podcastPatreonDataframe = pd.read_excel(path_podcast_patreon)

In [285]:
podcastPatreonDataframe['PODCAST DESCRIPTION'].str.contains('Technology')

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7      True
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
50    False
51    False
52     True
53    False
Name: PODCAST DESCRIPTION, dtype: bool

In [287]:
podcastPatreonDataframe['PODCAST TITLE'].str.contains('Technology')

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36     True
37    False
38     True
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
50    False
51    False
52    False
53    False
Name: PODCAST TITLE, dtype: bool